*{
  margin: 0.8rem !important;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border: 2px solid aqua;
  border-radius:10rem !important;
}
.login_wrapper{
  width: 40rem;
  border-radius: 0.6rem;
  background-color: aqua; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.login_header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.img{
  width: 12rem;
  height: 4rem;
}

.lhs{

  border-radius: 0.8rem;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.formele{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
.formele button{
  width: 9rem;
  height: 2rem;
  border: 2px solid aqua;
  border-radius: 0.4rem;
  background-color: blue;
  color: aqua;
}
.formele button:hover{
  border: 2px solid blue;
  background-color: aqua;
  color: blue;

}

.message_wrapper{
  border: 2px solid blue;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  color: blue;
}

/*Navbar*/
.navwrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid blue;
  background-color: aqua;
  border-radius: 0.8rem;
}

.Link{
  text-decoration: none !important;
  color: blue;
}

.navele{
  border: 2px solid blue;
  padding: 0.4rem;
  border-radius: 0.5rem;
  
}
.navele:hover{
  background-color: blue;
  border: 2px solid aqua;
  color: aqua !important;
}
.navele:hover .Link{
  color: aqua;
}